:root{
   --primary-text-color:#212121;
   --secondary-text-color:#757575;
   --accent-color:#2196F3;
   --primary-white-color:#ffffff;
   --primary-button-color: #F5F4FA;

}


body{
color: var(--primary-text-color);
  background-color:tomato;
 }
  .logo {
    color: var(--accent-color);
 }

 .logo-first {
    color: #000000;
 }

 .list {
    list-style: none;
 }
/* site-nav */
 .site-nav .link {
   color: var(--primary-text-color);
 }
 .site-nav .link.current {
  color: var(--accent-color);
 }

 .site-nav .link:hover,
 .site-nav .link:focus {
    color: var(--accent-color);
 }

 /* contacts */
 .contacts .link {
color: var(--secondary-text-color);
 }
 .contacts .link:hover,
 .contacts .link:focus {
color: var(--accent-color); 
}
 .contacts-basement.link:hover,
 .contacts-basement.link:focus {
color: var(--accent-color); 
}
 .map.link:hover,
 .map.link:focus {
color: var(--accent-color); 
}

 /* Hero */
.hero-title{
   color: var(--primary-white-color);
}

/* sections */
.section-title{
color: var(--primary-text-color);
}
.benefits-list .title{
   color: var(--primary-text-color);
}
.benefits-list .description{
   color: var(--secondary-text-color);
}
.staff-list .name{
   color: var(--primary-text-color);
}
.staff-list .profession{
   color: var(--secondary-text-color);
}

/* Basement */
.logo-second{
   color: var(--primary-white-color);
}
.map{
   color: var(--primary-white-color);
}
.contacts-basement{
   color:rgba(255,255,255,0.6);
}


/* button */

.button{
color: var(--primary-text-color);
background-color: var(--primary-button-color);
}
.button:hover,
.button:focus{
   color: var(--primary-white-color);
    background-color:var(--accent-color);
}
.button-hero{
   color: var(--primary-white-color);
   background-color:var(--accent-color);
}


/* background-color footer: #2F303A;

background-color secondary: #F5F4FA; 
акцент: #2196F3;

color-secondary:#757575;



*/
