body{
  color:#212121;
  background-color: #2196F3#;
  .logo{
   color:#2196F3 ;
  }
  .logo-first{
   color:#000000;
  }
  .list{
   list-style: none;
  }
  .site-nav{
   color: #212121;
  }
}
/* background-color footer: #2F303A;

background-color secondary: #F5F4FA; 
акцент: #2196F3;

color-secondary:#757575;



*/
